<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp0916729B7B7F73135D1B6E1DFD149714" Guid="{70645527-C24D-4FD1-95EA-27FAEF4B51A4}">
                <File Id="filF631DA267B6CE04A6AC9823F50DD9E3F" KeyPath="yes" Source="$(var.BuildDir)\D3Dcompiler_47.dll" />
            </Component>
            <Component Id="cmp6233B4C6D561CBC1E35EF95AB111EC11" Guid="{887D9EC2-CC02-4AA0-BA3C-53D9ED56D20C}">
                <File Id="fil1A4D4681A464C28E69AE96646D592797" KeyPath="yes" Source="$(var.BuildDir)\libgcc_s_seh-1.dll" />
            </Component>
            <Component Id="cmp85F2AE65C08ECF7EBEA0340A7960D685" Guid="{B8834ED2-4F24-4F74-ADDC-5E0C85A9D033}">
                <File Id="filD38C4E08D5F6B0815708C4857F341CE9" KeyPath="yes" Source="$(var.BuildDir)\libstdc++-6.dll" />
            </Component>
            <Component Id="cmpF304A849565D4E64AD6C117270C5ACF2" Guid="{FA2BB9E5-60CA-48C7-B06C-12BEC1CC3695}">
                <File Id="filBA676BF52B9007C6FFF8FFB23C800620" KeyPath="yes" Source="$(var.BuildDir)\libwinpthread-1.dll" />
            </Component>
            <Component Id="cmp316B7EADCCFA5F980015637E294FFC4B" Guid="{302B8B78-A518-4F11-8CD3-11B3529DD61B}">
                <File Id="fil07CE2ABE9F28D446757A019F07E1898F" KeyPath="yes" Source="$(var.BuildDir)\opengl32sw.dll" />
            </Component>
            <Component Id="cmp02DF6A9A3BF862D35391F764FE67153F" Guid="{4562C7A1-B295-4382-A3A3-C8A7EA211B5F}">
                <File Id="fil494DCCE77F31DE27CD7C03A13FD938B0" KeyPath="yes" Source="$(var.BuildDir)\Qt6Core.dll" />
            </Component>
            <Component Id="cmp701A262B1CE5139B2E57DF21A5AA3B94" Guid="{411A4DD3-F09A-4B49-ACA8-01DB1013A3ED}">
                <File Id="filD9F54CB97035337EAF318E4E55DD2F5F" KeyPath="yes" Source="$(var.BuildDir)\Qt6Gui.dll" />
            </Component>
            <Component Id="cmp1EAE9F3A379CF532AF1EBC883CDCD1D2" Guid="{9FA8CDC8-34BD-4D4D-97EE-70169742F1BA}">
                <File Id="fil15AC8A9B3B6A6F1FE6BBDDAE2042D5D0" KeyPath="yes" Source="$(var.BuildDir)\Qt6Network.dll" />
            </Component>
            <Component Id="cmp01A5C5B07DB5374286B4B2FA4A94324F" Guid="{FDA43215-D9A5-4793-BBEE-0B0A660FE96E}">
                <File Id="fil0A65422BB3F031F2941CA311F6FAA06C" KeyPath="yes" Source="$(var.BuildDir)\Qt6Svg.dll" />
            </Component>
            <Component Id="cmp5B0A9912E5069950C30FC5FF8EAA16D4" Guid="{E3183DFE-681B-46BD-BC1B-99E438C13917}">
                <File Id="fil9F3707482AFAB8A22C7B5C23D8C7CE69" KeyPath="yes" Source="$(var.BuildDir)\Qt6Widgets.dll" />
            </Component>
            <Component Id="cmpBDBC9783C8E60A34EB421C28CDA2D74A" Guid="{358615C4-961B-4A78-A634-538981517419}">
                <File Id="fil1E35BF62CAD45A5AC69218BB4484CDB4" KeyPath="yes" Source="$(var.BuildDir)\tunnel.dll" />
            </Component>
            <Component Id="cmpCA0C532FE613865E71B73E6A968496A9" Guid="{B1710189-A025-41DA-A407-7338CE0AC143}">
                <File Id="fil75A679C3BE31DEBC908860D9B19B411E" KeyPath="yes" Source="$(var.BuildDir)\Visco Connect.exe" />
            </Component>
            <Component Id="cmpA3D950FC4DE962C797C17E999E996D2A" Guid="{0B8888A9-A657-4C89-AB38-4D7D2F4C5D0F}">
                <File Id="fil8B11B236EEC30A80FB93D534D6AB702C" KeyPath="yes" Source="$(var.BuildDir)\wireguard.dll" />
            </Component>
            <Directory Id="dirF9719A857FB92E8654AE4734FEFCD027" Name="generic">
                <Component Id="cmp0D39BAA4A86E33543C4084CAAAD5ADE5" Guid="{B3E75082-C9AB-48A0-9041-D4577C5F05A4}">
                    <File Id="filB2EB179AAD3ED3996A82D1C9679D72D1" KeyPath="yes" Source="$(var.BuildDir)\generic\qtuiotouchplugin.dll" />
                </Component>
            </Directory>
            <Directory Id="dir076FC34961008E40A6F445EA1DECCABD" Name="iconengines">
                <Component Id="cmp8EF24A0DDAD5D3BB6012DD24681FA6A7" Guid="{82C18DD4-3E4D-48E9-9BF8-B6B5ADEBB90A}">
                    <File Id="fil429C9BF84101609E60A2074F92FD30ED" KeyPath="yes" Source="$(var.BuildDir)\iconengines\qsvgicon.dll" />
                </Component>
            </Directory>
            <Directory Id="dirCFD5DCDF1CAB22CF8B4B7E1E01E79D36" Name="imageformats">
                <Component Id="cmp5039B4AD5D8C909EA17EA732417A9C05" Guid="{7B036277-8145-4EB8-ACB0-B85C1AC5D42D}">
                    <File Id="fil62B8A9B874DF63AF7B042EA31508DB37" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qgif.dll" />
                </Component>
                <Component Id="cmp8120CD42BB0CFD3BE78C883BD5E3C839" Guid="{1B3E133A-B4F3-4CD3-AB32-7F5F89CABFB9}">
                    <File Id="filD858B49A1E0A8B6186B4CE01B6E10E79" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qicns.dll" />
                </Component>
                <Component Id="cmpA0EF29ADE625F5F0AF74857F24490FAA" Guid="{70CEF397-D672-47FE-842B-FFEFA99FB375}">
                    <File Id="fil23BAD857F9821D47B99B0E5A5970605D" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qico.dll" />
                </Component>
                <Component Id="cmpB0C5211DA6E53C209721B2356D26D8DF" Guid="{EC06DA5E-87C4-428D-BA4C-13F595523CCF}">
                    <File Id="fil13CC9E600BAF85CDCC2C53A86DBF115F" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qjpeg.dll" />
                </Component>
                <Component Id="cmpF5B60B50089C330D8DB07C2E94148BCA" Guid="{088BB64E-4705-42CF-98F1-13BA6120937C}">
                    <File Id="filE22D27FB377D1334F37D5F798DDA6681" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qsvg.dll" />
                </Component>
                <Component Id="cmpE43BB52A480403E2AC31584C681FBFE0" Guid="{9A0AF226-2FE0-47A5-9E53-DFBC8A557C92}">
                    <File Id="filA52E81BF9CF9DE32300ADCAD5D949330" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qtga.dll" />
                </Component>
                <Component Id="cmp9C0A4035AAD8C1D09E9DA78817B5D50B" Guid="{64B4B589-7780-4629-9C5B-35DA3595BC97}">
                    <File Id="fil537D210CDB9F874D5039AB27102DE523" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qtiff.dll" />
                </Component>
                <Component Id="cmp49186DA0134E3CA6CDD43710AE259064" Guid="{26865F67-EBD0-400C-B750-1E330545CD54}">
                    <File Id="fil58F0FFCD96BBD448B1E9C583B27AB586" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qwbmp.dll" />
                </Component>
                <Component Id="cmp8EE7D697D5ABC4FA85B71B6AE41DFD63" Guid="{F6CC0EE9-4E6C-45BF-83B7-FE01817996AF}">
                    <File Id="fil8B3FB8B20AD1470B4A768D7FB8C491E2" KeyPath="yes" Source="$(var.BuildDir)\imageformats\qwebp.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9E81D7279CF4775E7B05C8962A441D50" Name="networkinformation">
                <Component Id="cmp016B31FB460498AF5FD750F7A702C3E9" Guid="{BC231725-53BD-45AB-945F-5F7C83EC2073}">
                    <File Id="fil48F2306BFCC91578A2DD577C321FB6F5" KeyPath="yes" Source="$(var.BuildDir)\networkinformation\qnetworklistmanager.dll" />
                </Component>
            </Directory>
            <Directory Id="dir908DFC228501FBE723FC009E659CB04F" Name="platforms">
                <Component Id="cmp3E80143A725EE7380FA78AA9E8BD2283" Guid="{ECC51B9A-082D-48CE-9196-4BEFD748FA78}">
                    <File Id="fil702C83C4DEF82CE8980ED1100FE61CE2" KeyPath="yes" Source="$(var.BuildDir)\platforms\qwindows.dll" />
                </Component>
            </Directory>
            <Directory Id="dir1F76115FEB00A2654E3EA26BF5D9FC35" Name="styles">
                <Component Id="cmpC7C4BF59619F1BFA085A38400E45BFA1" Guid="{80AF6393-B25E-4395-9232-0AA6D034D9DC}">
                    <File Id="filC229D59C9F6719E9FCC346CE4CEF2553" KeyPath="yes" Source="$(var.BuildDir)\styles\qwindowsvistastyle.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB25A090A4C21158B03EE9BE3E0F566D0" Name="tls">
                <Component Id="cmpC2C3629D4DA7529CD9375535B9621295" Guid="{8DDA8E3F-2E17-44E6-82B4-2DA082C1E51F}">
                    <File Id="fil31F0DB25B8E8E230F6F4313D58BA3BCB" KeyPath="yes" Source="$(var.BuildDir)\tls\qcertonlybackend.dll" />
                </Component>
                <Component Id="cmpE5A08224CC0DDB32BE97DFE03F65B77C" Guid="{B26B1330-A049-425E-A474-1B0DE54E175D}">
                    <File Id="filC7739BE7C9E2CCFB00B90C214BE335BB" KeyPath="yes" Source="$(var.BuildDir)\tls\qopensslbackend.dll" />
                </Component>
                <Component Id="cmpE5D902BC9519991107F21C595ADB676A" Guid="{FBE5D9FF-F8DA-490C-82E1-69E4E5CB6C50}">
                    <File Id="filD0AE3A2B041E93C41277DC6D995C701C" KeyPath="yes" Source="$(var.BuildDir)\tls\qschannelbackend.dll" />
                </Component>
            </Directory>
            <Directory Id="dir83B71B3CD0F995692A90933430D9448A" Name="translations">
                <Component Id="cmpF3CE7FC6134D66D4CE90D6D037DAF8EF" Guid="{DDDB90C5-86D6-44B1-B921-0DABA1C0BD75}">
                    <File Id="fil1A01DC13DC8D9D92E1B6B1898BA5F579" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_ar.qm" />
                </Component>
                <Component Id="cmp6475B1DB61508165D733CD4DF26E2D44" Guid="{D5753FEF-5B63-429F-AFCE-7B6CBA8C4F5C}">
                    <File Id="fil276755611F9B10E0F0B16A0329808E35" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_bg.qm" />
                </Component>
                <Component Id="cmp945266DE1B9E908C568AEC60077412E7" Guid="{154EFA86-AE42-4AA9-8A7B-7D6747E1EC5D}">
                    <File Id="filBCB45EE1EDBEC50C479DC2A3EA98C716" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_ca.qm" />
                </Component>
                <Component Id="cmpF28CA0693171CDD2AA679C08F57F5149" Guid="{B4BC1000-ADC6-4304-9B40-FE0F89767561}">
                    <File Id="filC088037CA2691E60B50586017445AC89" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_cs.qm" />
                </Component>
                <Component Id="cmpF68CB8B9671E624CD3B3B72FADECF7EC" Guid="{EBA623E5-D743-4E13-906A-B2E801A49E0B}">
                    <File Id="fil09E14BDB048841A6515D5069E790FB3B" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_da.qm" />
                </Component>
                <Component Id="cmpB606A20E9839323D8BC021D0037D4B02" Guid="{3B3D6CBD-7BF2-4EA6-884B-0C80EC716D57}">
                    <File Id="fil76D3CB54523D5B785F58C0E308ED9360" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_de.qm" />
                </Component>
                <Component Id="cmpFE253A4B01A7C4507F64D6EF7D840C90" Guid="{0A1087E2-4D20-4AE6-8D38-846D3B044971}">
                    <File Id="fil20B2FB4C6C0E0208AABF252757D71593" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_en.qm" />
                </Component>
                <Component Id="cmp7B2ADC27C95CA6DCDAE86C5D20D7B911" Guid="{E7891CD2-3327-4CF8-A813-8DCC5A77DA96}">
                    <File Id="fil8F3E1C9DECFA7E21A5496618AD08F38F" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_es.qm" />
                </Component>
                <Component Id="cmpD21B8839E17335D9C35CFFC4DD1B6709" Guid="{498A2B8D-D473-4C79-B1D8-CD420CE4444E}">
                    <File Id="filB2931CB8E0596E9438CBFD2876E86434" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_fa.qm" />
                </Component>
                <Component Id="cmpDD5495105FC1A50D579C23A6F9AB2D9C" Guid="{F80BA4FD-20D1-4C0A-BF9B-04F75A80B9A2}">
                    <File Id="fil1910C120169307B447E427AD7D143CDA" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_fi.qm" />
                </Component>
                <Component Id="cmpA7F3FE566195360501EBAA88FE7E268C" Guid="{A3CE0638-38BB-4663-984D-5F34830C6EC4}">
                    <File Id="fil0B149A6EBDF2F8D2D396AE6A1E9EB113" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_fr.qm" />
                </Component>
                <Component Id="cmpDD5DD62078DA10D06B2C61ABF78887AE" Guid="{153A0D2F-9F84-476B-822C-42DB9779B332}">
                    <File Id="filCE8E791056A46F1539121A157A80569D" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_gd.qm" />
                </Component>
                <Component Id="cmp481F3650A38CD081F5BC2FF12AB2B668" Guid="{D2D749AC-C913-407B-8D6B-47C03C7DC47F}">
                    <File Id="fil627AB198BDB7C0A49591A69BDD5639C8" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_he.qm" />
                </Component>
                <Component Id="cmp43D2392DA5BEE23B96027C84F26C354B" Guid="{4745571C-3C25-44FD-826C-E856972629C1}">
                    <File Id="fil6A50090FBDB55A1F2D6FC165AED30533" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_hr.qm" />
                </Component>
                <Component Id="cmpA50522D218405951F89D17D119351B18" Guid="{71853E90-CD1A-4EDF-8FE2-40F0EABFE209}">
                    <File Id="fil1F005D15C5518B643D663B9888357886" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_hu.qm" />
                </Component>
                <Component Id="cmpA09A8F8BA08597FD63B9ED1BEA63F305" Guid="{C3965801-A3C0-410E-8828-817688129F5D}">
                    <File Id="filBBE4D6D16BE762C49B9A5486A4722B95" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_it.qm" />
                </Component>
                <Component Id="cmpE69EA7F5DEA3E1EC347D090F26A99637" Guid="{003859B9-BA49-412E-9498-78DA67A2C801}">
                    <File Id="fil84A2E34B70FEA2A44EE5F24D4E855A90" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_ja.qm" />
                </Component>
                <Component Id="cmp873306C0DE34EE51EC281ED99FCE1812" Guid="{F24B6432-BDBF-4635-B99A-755A7336B525}">
                    <File Id="filD23618C759CFE4AD60746F98E64031CF" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_ko.qm" />
                </Component>
                <Component Id="cmpE194A05F79896600A44AA9AB26616C57" Guid="{68BFD85F-24B7-4972-B566-F96DEF3D1045}">
                    <File Id="fil21E2B0C50D76EB2158D6E98AC367C5A7" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_lv.qm" />
                </Component>
                <Component Id="cmp3AE4AE121A7E9EE253808A7FACE5B6AF" Guid="{CFA16D2B-3B1B-4D46-AFAC-BC0BB70F69F9}">
                    <File Id="filB823C966C65A729EBEECF2299BEA3A99" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_nl.qm" />
                </Component>
                <Component Id="cmp912F55B90E41A22142DF1218C5ACFCCE" Guid="{E334B433-6574-4A11-A42F-7858B39E0D24}">
                    <File Id="fil272CAA9887B44718C89860882EE5F715" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_nn.qm" />
                </Component>
                <Component Id="cmp77E77384BA8D9763F71053197AF2341C" Guid="{0A482B87-454F-476B-9A95-6A1297FB4BFC}">
                    <File Id="fil2BE4A53065FD33357D5CD56A6F1DFA6A" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_pl.qm" />
                </Component>
                <Component Id="cmp5DD670EB7A0B425E88B2306895DE1605" Guid="{071DAF5B-DD1C-4207-8871-2D47A6EBE12B}">
                    <File Id="fil9AC9963C6967259CE41153FA3A9E59CE" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_pt_BR.qm" />
                </Component>
                <Component Id="cmpA1E1BAE253FF81ECCBCF863E965B699F" Guid="{1E06451E-7FCD-4A22-B355-D79424832A18}">
                    <File Id="fil5CA4DBD6BCBA5BCCBE2887A0B8740559" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_ru.qm" />
                </Component>
                <Component Id="cmpC84C89EB154B67E483B44C2EEE09974E" Guid="{B6B6236D-C3B5-49C0-B9DA-A1AB1868070D}">
                    <File Id="filB850ADC7F23EA7D28A7A376032FD77CF" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_sk.qm" />
                </Component>
                <Component Id="cmp74D9855279ACE9DACB7951718A902154" Guid="{9C208525-04D8-4A9D-A68B-DBCB4A767B6B}">
                    <File Id="filD2ADA6293A3F603519BD43F57A4F44B0" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_tr.qm" />
                </Component>
                <Component Id="cmpAB19D7F1204AB8689F9305CA20017606" Guid="{D1D292ED-7931-46C2-9A83-101AD3FE1C87}">
                    <File Id="fil2339578BBAEBC351A673A73F46F01D4F" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_uk.qm" />
                </Component>
                <Component Id="cmp6BF9C18DC365BBC9FEC2C5A0B83A6C11" Guid="{F91172AC-5711-4948-B256-E3F452BCB97F}">
                    <File Id="filC75F9E75D7711B45F5753F098A52BE05" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_zh_CN.qm" />
                </Component>
                <Component Id="cmp89F2AF8D8BBFADEF8AF63235072D3B68" Guid="{3C9D5035-A879-4CCC-882E-82A1C4799691}">
                    <File Id="filCEACDFF6ABF72E97CEC05D47C488E359" KeyPath="yes" Source="$(var.BuildDir)\translations\qt_zh_TW.qm" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HarvestedFiles">
            <ComponentRef Id="cmp0916729B7B7F73135D1B6E1DFD149714" />
            <ComponentRef Id="cmp6233B4C6D561CBC1E35EF95AB111EC11" />
            <ComponentRef Id="cmp85F2AE65C08ECF7EBEA0340A7960D685" />
            <ComponentRef Id="cmpF304A849565D4E64AD6C117270C5ACF2" />
            <ComponentRef Id="cmp316B7EADCCFA5F980015637E294FFC4B" />
            <ComponentRef Id="cmp02DF6A9A3BF862D35391F764FE67153F" />
            <ComponentRef Id="cmp701A262B1CE5139B2E57DF21A5AA3B94" />
            <ComponentRef Id="cmp1EAE9F3A379CF532AF1EBC883CDCD1D2" />
            <ComponentRef Id="cmp01A5C5B07DB5374286B4B2FA4A94324F" />
            <ComponentRef Id="cmp5B0A9912E5069950C30FC5FF8EAA16D4" />
            <ComponentRef Id="cmpBDBC9783C8E60A34EB421C28CDA2D74A" />
            <ComponentRef Id="cmpCA0C532FE613865E71B73E6A968496A9" />
            <ComponentRef Id="cmpA3D950FC4DE962C797C17E999E996D2A" />
            <ComponentRef Id="cmp0D39BAA4A86E33543C4084CAAAD5ADE5" />
            <ComponentRef Id="cmp8EF24A0DDAD5D3BB6012DD24681FA6A7" />
            <ComponentRef Id="cmp5039B4AD5D8C909EA17EA732417A9C05" />
            <ComponentRef Id="cmp8120CD42BB0CFD3BE78C883BD5E3C839" />
            <ComponentRef Id="cmpA0EF29ADE625F5F0AF74857F24490FAA" />
            <ComponentRef Id="cmpB0C5211DA6E53C209721B2356D26D8DF" />
            <ComponentRef Id="cmpF5B60B50089C330D8DB07C2E94148BCA" />
            <ComponentRef Id="cmpE43BB52A480403E2AC31584C681FBFE0" />
            <ComponentRef Id="cmp9C0A4035AAD8C1D09E9DA78817B5D50B" />
            <ComponentRef Id="cmp49186DA0134E3CA6CDD43710AE259064" />
            <ComponentRef Id="cmp8EE7D697D5ABC4FA85B71B6AE41DFD63" />
            <ComponentRef Id="cmp016B31FB460498AF5FD750F7A702C3E9" />
            <ComponentRef Id="cmp3E80143A725EE7380FA78AA9E8BD2283" />
            <ComponentRef Id="cmpC7C4BF59619F1BFA085A38400E45BFA1" />
            <ComponentRef Id="cmpC2C3629D4DA7529CD9375535B9621295" />
            <ComponentRef Id="cmpE5A08224CC0DDB32BE97DFE03F65B77C" />
            <ComponentRef Id="cmpE5D902BC9519991107F21C595ADB676A" />
            <ComponentRef Id="cmpF3CE7FC6134D66D4CE90D6D037DAF8EF" />
            <ComponentRef Id="cmp6475B1DB61508165D733CD4DF26E2D44" />
            <ComponentRef Id="cmp945266DE1B9E908C568AEC60077412E7" />
            <ComponentRef Id="cmpF28CA0693171CDD2AA679C08F57F5149" />
            <ComponentRef Id="cmpF68CB8B9671E624CD3B3B72FADECF7EC" />
            <ComponentRef Id="cmpB606A20E9839323D8BC021D0037D4B02" />
            <ComponentRef Id="cmpFE253A4B01A7C4507F64D6EF7D840C90" />
            <ComponentRef Id="cmp7B2ADC27C95CA6DCDAE86C5D20D7B911" />
            <ComponentRef Id="cmpD21B8839E17335D9C35CFFC4DD1B6709" />
            <ComponentRef Id="cmpDD5495105FC1A50D579C23A6F9AB2D9C" />
            <ComponentRef Id="cmpA7F3FE566195360501EBAA88FE7E268C" />
            <ComponentRef Id="cmpDD5DD62078DA10D06B2C61ABF78887AE" />
            <ComponentRef Id="cmp481F3650A38CD081F5BC2FF12AB2B668" />
            <ComponentRef Id="cmp43D2392DA5BEE23B96027C84F26C354B" />
            <ComponentRef Id="cmpA50522D218405951F89D17D119351B18" />
            <ComponentRef Id="cmpA09A8F8BA08597FD63B9ED1BEA63F305" />
            <ComponentRef Id="cmpE69EA7F5DEA3E1EC347D090F26A99637" />
            <ComponentRef Id="cmp873306C0DE34EE51EC281ED99FCE1812" />
            <ComponentRef Id="cmpE194A05F79896600A44AA9AB26616C57" />
            <ComponentRef Id="cmp3AE4AE121A7E9EE253808A7FACE5B6AF" />
            <ComponentRef Id="cmp912F55B90E41A22142DF1218C5ACFCCE" />
            <ComponentRef Id="cmp77E77384BA8D9763F71053197AF2341C" />
            <ComponentRef Id="cmp5DD670EB7A0B425E88B2306895DE1605" />
            <ComponentRef Id="cmpA1E1BAE253FF81ECCBCF863E965B699F" />
            <ComponentRef Id="cmpC84C89EB154B67E483B44C2EEE09974E" />
            <ComponentRef Id="cmp74D9855279ACE9DACB7951718A902154" />
            <ComponentRef Id="cmpAB19D7F1204AB8689F9305CA20017606" />
            <ComponentRef Id="cmp6BF9C18DC365BBC9FEC2C5A0B83A6C11" />
            <ComponentRef Id="cmp89F2AF8D8BBFADEF8AF63235072D3B68" />
        </ComponentGroup>
    </Fragment>
</Wix>